<launch>
    <arg name="robot_name" default="ur5" />

    <!-- start console -->
    <node name="rqt_console" pkg="rqt_console" type="rqt_console"/>

    <!-- start the move server and its wrapper-->
    <node name="move_server" pkg="ur5lego" type="ur5lego_move_server"/>
    <node name="move_server_wrapper" pkg="ur5lego" type="ur5lego_move_server_wrapper"/>

    <node name="position_publisher" pkg="ur5lego" type="ur5lego_position_publisher"/>
</launch>