<launch>
    <node name="rqt_console" pkg="rqt_console" type="rqt_console"/>
    <include file="$(find ur5lego)/launch/inverse_kinematics.launch"></include>
    <node name="gripper_server" pkg="ur5lego" type="ur5lego_gripper_server"/>
    <node name="move_controller" pkg="ur5lego" type="ur5lego_move_subscriber"/>
    <node name="vision_service" pkg="ur5lego" type="vision_service.py"/>
</launch>